## Knn for car recommendation

In [1]:
import sklearn
from sklearn.neighbors import NearestNeighbors
import numpy as np
import pandas as pd

In [2]:
cars = pd.read_csv(r'C:\Users\Bharath\mtcars.csv')
#cars.columns = ['car_names', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
cars.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [3]:
carfeatures = cars.iloc[:,[1, 3, 4, 6]]
## selecting few features for recommendation 
carfeatures

     mpg   disp   hp     wt
0   21.0  160.0  110  2.620
1   21.0  160.0  110  2.875
2   22.8  108.0   93  2.320
3   21.4  258.0  110  3.215
4   18.7  360.0  175  3.440
5   18.1  225.0  105  3.460
6   14.3  360.0  245  3.570
7   24.4  146.7   62  3.190
8   22.8  140.8   95  3.150
9   19.2  167.6  123  3.440
10  17.8  167.6  123  3.440
11  16.4  275.8  180  4.070
12  17.3  275.8  180  3.730
13  15.2  275.8  180  3.780
14  10.4  472.0  205  5.250
15  10.4  460.0  215  5.424
16  14.7  440.0  230  5.345
17  32.4   78.7   66  2.200
18  30.4   75.7   52  1.615
19  33.9   71.1   65  1.835
20  21.5  120.1   97  2.465
21  15.5  318.0  150  3.520
22  15.2  304.0  150  3.435
23  13.3  350.0  245  3.840
24  19.2  400.0  175  3.845
25  27.3   79.0   66  1.935
26  26.0  120.3   91  2.140
27  30.4   95.1  113  1.513
28  15.8  351.0  264  3.170
29  19.7  145.0  175  2.770
30  15.0  301.0  335  3.570
31  21.4  121.0  109  2.780

In [6]:
## k = 5 i.e., Number of Neighbors = 5
num_recommendation = 5
k_neighbors = NearestNeighbors(n_neighbors=num_recommendation).fit(carfeatures)

In [7]:
# required_features is select the cars based on the features 
required_features = [18, 315, 110, 1.5]
CarsRecommonded = k_neighbors.kneighbors([required_features])
CarsRecommonded = CarsRecommonded[1][0]
CarsRecommonded =  CarsRecommonded.tolist()
print('Following cars are Recommonded ', CarsRecommonded)

Following cars are Recommonded  [21, 22, 3, 4, 12]

In [10]:
print('Recommonded Cars details')
templist = []
for num in CarsRecommonded:
    print(cars.iloc[[num],:])

Recommonded Cars details
               model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  \
21  Dodge Challenger  15.5    8  318.0  150  2.76  3.52  16.87   0   0     3

    carb
21     2
          model   mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  carb
22  AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.3   0   0     3     2
            model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
3  Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3

   carb
3     1
               model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  \
4  Hornet Sportabout  18.7    8  360.0  175  3.15  3.44  17.02   0   0     3

   carb
4     2
         model   mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
12  Merc 450SL  17.3    8  275.8  180  3.07  3.73  17.6   0   0     3     3